<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <style>
        /* This line pulls the CSS from the file above! */
        {% include 'invoice_style.css' %}
    </style>
</head>
<body>

    {% if header_b64 %}
    <div style="text-align: center;">
        <img src="data:image/jpeg;base64,{{ header_b64 }}" class="header-img">
    </div>
    {% endif %}

    <table class="meta-box">
        <tr>
            <td style="width: 70%; vertical-align: top;">
                <b>TO,</b><br>
                {% for line in data.client_address %}
                    {{ line }}<br>
                {% endfor %}
            </td>
            <td style="width: 30%; vertical-align: top; text-align: right;">
                <b>DATE:</b> {{ data.date }}
            </td>
        </tr>
    </table>

    {% if data.subject %}
        <div class="center-text">SUB: {{ data.subject }}</div>
    {% endif %}
    {% if data.from_date or data.to_date %}
        <div class="center-text">PERIOD FROM {{ data.from_date }} TO {{ data.to_date }}</div>
    {% endif %}
    <div class="bill-no-text">BILL NO: {{ data.bill_no }}</div>

    <table class="data-table">
        <thead>
            <tr>
                {% for col in data.columns %}
                    {% set col_name = col|upper|trim %}
                    
                    {% if col_name == 'S.NO' %}
                        <th style="width: 4%;">{{ col }}</th>
                    {% elif col_name == 'MT' or col_name == 'RATE' %}
                        <th style="width: 5%;">{{ col }}</th>
                    {% elif col_name == 'DATE' %}
                        <th style="width: 7%;">{{ col }}</th>
                    {% elif col_name == 'UNLOADING' %}
                        <th style="width: 26%;">{{ col }}</th>
                    {% elif col_name == 'IN DATE' or col_name == 'OUT DATE' or col_name == 'INDATE' or col_name == 'OUTDATE' %}
                        <th style="width: 11%;">{{ col }}</th>
                    {% else %}
                        <th>{{ col }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data.rows %}
                {% if row.type == 'data' %}
                <tr>
                    {% for cell in row.data %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% elif row.type == 'total' %}
                <tr>
                    <td colspan="{{ data.columns|length - 1 }}" style="text-align: right; font-weight: bold; font-size: 11px; padding-right: 10px;">TOTAL / GRAND TOTAL:</td>
                    <td style="font-weight: bold; font-size: 11px;">{{ row.data[0] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <table class="sig-table">
        <tr>
            <td style="width: 65%;"></td> 
            <td style="width: 35%; text-align: center; padding-top: 40px;">
                {% if data.company_name %}
                    <b>{{ 'For ' if not data.company_name.lower().startswith('for') else '' }}{{ data.company_name }}</b><br>
                {% endif %}
                
                {% if sig_b64 %}
                    <img src="data:image/png;base64,{{ sig_b64 }}" class="sig-img"><br>
                {% else %}
                    <br><br><br><br>
                {% endif %}
                
                {% if data.signer_name %}
                    <b>{{ data.signer_name if data.signer_name.startswith('(') else '(' ~ data.signer_name ~ ')' }}</b>
                {% endif %}
            </td>
        </tr>
    </table>

</body>
</html>
